{
  "$schema": "https://json.schemastore.org/launchsettings.json", 
  "profiles": {
    "Systore.Api": {
      "commandName": "Project",
      "dotnetRunMessages": true,
      "launchBrowser": true,
      "launchUrl": "swagger",
      "applicationUrl": "https://localhost:7221;http://localhost:5026",
      "environmentVariables": {
        "ASPNETCORE_ENVIRONMENT": "Local"
      }
    }   
  }
}
